{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/themes/base.css") }}" />
    <script type="application/ecmascript" src="{{ url_for('static', filename="assets/baseHeader.js") }}"></script>
{% endblock %}

{% block header %}
    <header id="base-header">
        <div id="base-header-left">
            <a href="/" id="site-title">
                <span id="header-logo">Archipelago</span>
            </a>
        </div>
        <div id="base-header-right">
            <div id="base-header-popover-text">
                <span id="base-header-popover-icon">&#9662;</span>
                get started
            </div>
            <div id="base-header-popover-menu">
                <a href="/games">supported games</a>
                <a href="/tutorial">setup guides</a>
                <a href="/generate">generate game</a>
                <a href="/uploads">host game</a>
                <a href="/user-content">user content</a>
            </div>
            <a href="/faq/en">f.a.q</a>
            <a href="https://discord.gg/K8YuEt6x3r" target="_blank">discord</a>
        </div>
        <div id="base-header-right-mobile">
            <a id="base-header-mobile-menu-button" href="#" aria-label="Menu">&#9776;</a>
        </div>
        <div id="base-header-mobile-menu">
            <a href="/games">supported games</a>
            <a href="/tutorial">setup guides</a>
            <a href="/faq/en">f.a.q.</a>
            <a href="/generate">generate game</a>
            <a href="/uploads">host game</a>
            <a href="/user-content">user content</a>
            <a href="https://discord.gg/K8YuEt6x3r" target="_blank">discord</a>
        </div>
    </header>
{% endblock %}
